/* force text area to have plain styling */
.jsonTextArea {
    width: 100%;
    height: 400px;
}

/* hide the hamburger button and side nav links until appropriate size */
.hamburgerButton {
    display: none;
}
.miniLinks {
    display: none;
}

/* Style list for partials */
.list {
    list-style: none;
    float: left;
}

/* media queries for screen size adjustment */
@media (max-width: 600px)  {
    .navButtons {
        display: none;
    }
    .hamburgerButton {
        display: block;
    }
    .miniLinks {
        display: block;
    }
}
