<div class="AuthorContent" ng-controller="AuthorCtrl as vm">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Author</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <div ng-show="author">
            <h1 class="md-title">
                Edit Author
            </h1>
            <input type="text" name="name" value="Name" ng-model="author.name">
            <h1 class="md-title">
                Edit Courses
            </h1>
            <ul ng-repeat="course in author.courses">
                <li>
                    <input type="text" name="name" ng-model="course.name">
                    <input type="text" name="name" ng-model="course.year">
                    <md-button
                        aria-label="Delete"
                        class="md-warn md-raised"
                        ng-click="vm.removeCourse($index)">Delete</md-button>
                </li>
            </ul>
            <!-- <md-button class="md-primary md-raised" disabled="true">
                Save
            </md-button> -->
        </div>
        <div ng-show="!author">
            <i>There is no auther with that id</i>
        </div>
    </md-content>
</div>
