<div class="JsonPageCtrl" ng-controller="JsonPageCtrl as vm" id="popupContainer">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">JSON output/input</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <div layout="row" layout-padding layout-wrap layout-fill>
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
                  <textarea ng-model="vm.json_output" class="jsonTextArea" cols="100"></textarea>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout>
                <md-button
                    aria-label="Apply JSON to App"
                    class="md-primary md-raised"
                    ng-click="vm.replaceJsonData($event)"
                    flex="auto">
                    Apply JSON to App
                </md-button>

            </md-whiteframe>
        </div>
    </md-content>

</div>
