<div class="TeacherContent" ng-controller="TeacherCtrl as vm">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Teacher</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <md-input-container class="md-block">
            <label>Teacher's Name</label>
            <input type="text" name="name" value="Name" ng-model="teacher.name">
        </md-input-container>
    </md-content>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Edit Classes and Courses</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
        <ul class="list" layout="column" layout-padding layout-fill>
            <li ng-repeat="class in teacher.classes">
                <md-input-container>
                    <label>Class Name</label>
                    <input type="text" name="name" ng-model="class.name">
                </md-input-container>
                <md-content>
                    <h1 class="md-title">Teaching Courses</h1>
                    <ul class="list" layout="column" layout-padding layout-fill>
                        <li ng-repeat="course in class.teaching_courses">
                            <md-input-container layout-fill>
                                <label>Course Name</label>
                                <input type="text" name="name" ng-model="course.name">
                                <md-button
                                    aria-label="Delete Course"
                                    class="md-primary md-raised"
                                    ng-click="vm.removeCourse($parent.$index, $index)">
                                        Remove
                                </md-button>
                            </md-input-container>
                        </li>
                    </ul>
                    <form>
                        <md-input-container>
                            <label>Add a course</label>
                            <input
                                type="text"
                                name="name"
                                ng-model="teacher.classes[$index].teaching_courses.name">
                            <md-button
                                aria-label="Add a Course"
                                class="md-primary md-raised"
                                ng-click="vm.addCourse($index)">
                                    Add
                            </md-button>
                        </md-input-container>
                    </form>
                </md-content>

                <md-content>
                    <h1 class="md-title">Students</h1>
                    <ul class="list" layout="column" layout-padding layout-fill>
                        <li ng-repeat="student in class.students">
                            <md-input-container layout-fill>
                                <input type="text" name="name" ng-model="student.name">
                                <md-button
                                    aria-label="Remove Student"
                                    class="md-primary md-raised"
                                    ng-click="vm.removeStudent($parent.$index, $index)">
                                        Remove
                                </md-button>
                            </md-input-container>
                        </li>
                    </ul>
                    <form>
                        <md-input-container>
                            <label>Add a Student</label>
                            <input
                                type="text"
                                name="name"
                                ng-model="teacher.classes[$index].students.name">
                            <md-button
                                aria-label="Add a Student"
                                class="md-primary md-raised"
                                ng-click="vm.addStudent($index)">
                                    Add
                            </md-button>
                        </md-input-container>
                    </form>
                </md-content>

                <md-button
                    aria-label="Delete"
                    class="md-accent md-raised"
                    ng-click="vm.removeClass($index)">
                        Delete Class and courses
                </md-button>
            </li>
        </ul>
            <!-- <md-button class="md-primary md-raised">
                Save
            </md-button> -->
        </div>
    </md-content>
</div>
